body {
	margin: 0;
	padding: 0 2%;
	background-color: gainsboro;
}

ul
{
    list-style-type: none;
}

li {
	padding: 5px;
}

img {
  width: 150px;       
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  border: 0;
  box-sizing: border-box;
}

.roteStern {
	color: red;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.wrap {
	flex-wrap: wrap;
}

.eingabe {
	margin: 0 5%;
	width: 90%;
}

.ausgabe {
	margin: 0 5%;
	width: 90%;
}

@media screen and (width > 768px) {
  .flex {
	display: flex;
	flex-wrap: nowrap;
  }

  .eingabe {
	padding: 0;
	width: 40%;
	margin: 0 0 0 2rem;
  }

  .ausgabe {
	padding: 0;
	width: 60%;
	margin: 0 2rem;
  }

}
